
<html>
<link rel="stylesheet" href="/css/main.css">
<link href='http://fonts.googleapis.com/css?family=Cutive' rel='stylesheet' type='text/css'>
	<div id="form">
		<h1>Roman Numeral Converter</h1>
		<form action="/converter" method="post">
		  <label for="converter">Enter your number:</label><input type="text" name="converter"><br></br>
		  <input type="submit" class="btn-submit">
		  <p><Content from converter.erb</p>
		</form>
	</div>
</html>